img{
    border:0;
}
.sep{
    clear:both;
}
body{
    margin:0;
    padding:0;
}
.left_panel{
    float:left;
    width:400px;
}
.right_panel{
    float:left;
}
canvas{
    border:1px solid #000000;
}
